@media all and (max-width: 720px){
    *{
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    body {
        display: flex;
        flex-direction: column;
        margin:0;
    }
    img{
        padding-top: 1em;
        padding-bottom: 1em;
        height: 339px;
        width: 100%;
    }
    .alert-info{
        text-decoration:none;
        align-items: center;
        justify-content: center;
        padding: 1em;


    }.alert-info a{
         background-color: rgba(214,254,254);
         text-decoration: none;
         padding: 1em 0;
         border:.1em solid lightgray;
     }

    .hidden-on-desktop{
        list-style: none;
        text-decoration: none;
    }
    h1{
        display: flex;
        font-size: 3em;
        justify-content:center;
        margin:0;
        padding-bottom: .5em;
    }
    .nav-links{

        flex-direction: column;
        list-style: none;
        margin:auto;
        justify-content:center;
    }
    li{
        background-color: lightgray;
        padding: 1em;
        margin: .4em;
        justify-content: center;
    }
    a{
        color: blue;
        display: flex;
        justify-content: center;
    }
    .main{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2em;
    }
    h2 {
        margin-bottom: .5em;
    }

    .sub-section{
        font-style: italic;
    }
    footer{
        padding-top:10em;
        margin-bottom: 0;
        margin-top: 3em;
        display: flex;
        flex-direction: column;
    }
    #social-media-links{
        flex-direction: column;
    }}



@media all and (min-width: 525px){
    *{
        box-sizing: border-box;
        font-family: sans-serif;
    }
    body {
        display: flex;
        flex-direction: column;
    /*    display: grid;*/
    /*    grid-template-columns: 3fr 2fr;*/
    /*    grid-template-areas:*/
    /*                "header nav-links"*/
    /*                "header-img header-img"*/
    /*                "main sub-section"*/
    /*                "footer footer";*/
    }
    .hidden-on-desktop{
        display: none;
    }
    h1{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content:flex-start;
        align-items: center;
    }

    .nav-links{
        display: flex;
        list-style: none;
        font-size: 1.1em;
        padding: 0;
        margin: 0;
        height: inherit;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
    }
    a{
        display: flex;
        justify-content: flex-end;

    }
    li {
        padding: 1em;
        background-color: white;
    }
    .header-img{
        grid-area: header-img;
    }
    .sub-section{
        font-style: italic;
    }
    img{
        height: 395px;
        width:100%;
    }
    #social-media-links {
        display: flex;
        align-content: flex-end;
    }
}


